<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>Recipe App</title>
</head>
<body>
 <nav th:replace="recipes/header :: header"></nav>

<!-- ++++++++++++++++++++ -->
<br/>
<br/>
<div class="container">
<h2 class="navbar-brand">Recipe Delete</h2>
<div >
 
</div>



<div th:if="${recipe.recipeId == 0}">
            <div class="alert alert-danger" role="alert" th:text="'Recipe with Id[' + ${id} + '] not found'">
                Recipe not found
            </div>
            <a href="list" class="btn btn-outline-secondary">Go Back</a>
        </div>



<form th:action="@{delete}" method="post" th:object="${recipe}"
			th:if="${recipe.recipeId != null}">
			
			<input type="hidden" id="recipeId" name="recipeId"
				th:value="*{recipeId}" />

<div class="mb-3">
				<label for="recipeName" class="form-label">Recipe Name:</label> <input
					type="text" class="form-control" id="recipeName" name="recipeName"
					th:value="*{recipeName}" />
			</div>




			<div class="mb-3">
				<label for="recipeType" class="form-label">RecipeType:</label> <input
					type="text" class="form-control" id="recipeType" name="recipeType"
					th:value="*{recipeType}" />
			</div>
			<div class="mb-3">
				<label for="servingFor" class="form-label">Serving For:</label> <input
					type="text" class="form-control" id="servingFor" name="servingFor"
					th:value="*{servingFor}" />
			</div>
			
			
			
			
			
			<div class="mb-3">
				<label for="cookingInstruction" class="form-label">Cooking
					Instruction:</label>


				<textarea class="form-control" id="cookingInstruction" rows="4"
					cols="50" name="cookingInstruction" placeholder="Description"
					th:field="*{cookingInstruction}" required="required"></textarea>

			</div>




  <input type="submit" class="btn btn-danger" value="Delete"/>
<a class="btn btn-outline-secondary" href="list" role="button">Go back</a>

</form>

</div>

</body>
</html>